<div class="navbar">
  <div class="logo">
    <h1>KITE CENTER</h1>
  </div>
  <div class="menu">
    <ul class="nav-menu">
      <%= link_to "All kites", kites_path %>
      <li>Your Quiver</li>
      <%= link_to "Add a kite", new_kite_path %>
      <li>Profile</li>
    </ul>
  </div>
</div>
